[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
mne = "*"
autoreject = "*"
pandas = "*"
mne-features = "*"
scikit-learn = "*"
tensorflow = "*"
torch = "*"
mne-connectivity = "*"
qtpy = "*"
ipyevents = "*"
pyvista = "*"
pyvistaqt = "*"
lightgbm = "*"
imblearn = "*"
xgboost = "*"
torcheval = "*"
tqdm = "*"
pyqt5 = "*"
seaborn = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
